@import './variables';
@import '~reset-css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=latin-ext');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

#root {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.ps {
	position: relative;
	&__rail {
		&-x, &-y {
			position: absolute;
			background-color: rgba(216, 216, 216, .3);
			border-radius: 100px;
		}
		&-x {
			height: 5px;
			bottom: 8px !important;
		}
		&-y {
			width: 5px;
			right: 8px !important;
		}
	}
	&__thumb {
		&-x, &-y {
			position: absolute;
			background-color: rgba(0, 44, 113, .12);
			border-radius: 100px;
		}
		&-x {
			height: 5px;
		}
		&-y {
			width: 5px;
		}
	}
}